extends blocks/layout

block content
  include blocks/header
  main.page-content
    section.categories-list
      h1.visually-hidden Сервис объявлений "Куплю - продам"
      ul.categories-list__wrapper
        each category in categories
          li.categories-list__item
            a(class= category.id === activeCategory.id ? `category-tile category-tile--active` : `category-tile`
              href=`/offers/category/${category.id}`)
              span.category-tile__image
                img(src=`/img/${category.picture.normal}` srcset=`/img/${category.picture.double} 2x` alt="Иконка категории")
              span.category-tile__label= category.name
                |&#32;
                span.category-tile__qty.js-qty= category.offers.length
    section.tickets-list
      h2.visually-hidden= `Предложения из категории ${activeCategory.name}`
      .tickets-list__wrapper
        .tickets-list__header
          p.tickets-list__title= activeCategory.name
            b.js-qty= activeCategory.offers.length
        ul
          each item in activeCategory.offers
            li.tickets-list__item
              .ticket-card.ticket-card--color06
                .ticket-card__img
                  img(src=`/img/${item.picture.normal}` srcset=`/img/${item.picture.double} 2x` alt="Изображение товара")
                .ticket-card__info
                  span.ticket-card__label= item.type.name
                  .ticket-card__categories
                    each category in item.categories
                      a(href=`/offers/category/${category.id}`)= category.name
                  .ticket-card__header
                    h3.ticket-card__title
                      a(href=`/offers/${item.id}`)= item.title
                    p.ticket-card__price
                      span.js-sum= item.sum
                      | ₽
                  .ticket-card__desc
                    p= item.description
        .tickets-list__pagination
          ul.pagination
            li
              a.active(href="#") 1
            li
              a(href="#") 2
            li
              a(href="#") 3
            li
              a(href="#") 4
            li
              a(href="#") 5
            li
              a(href="#") дальше

