extends blocks/layout

block content
  include blocks/header
  main.page-content
    section.comments
      .comments__wrapper
        h1.visually-hidden Страница комментариев
        each item in myOffers
          .comments__block
            .comments__header
              a.announce-card(href=`/offers/edit/${item.id}`)
                h2.announce-card__title= item.title
                span.announce-card__info
                  span.announce-card__price= `₽ ${item.sum}`
                  span.announce-card__type= item.type.name
            ul.comments-list
              each comment in item.comments
                li.js-card
                  .comment-card
                    .comment-card__header
                      a.comment-card__avatar.avatar(href="#")
                        img(src=`/img/${comment.author.avatar.normal}` srcset=`/img/${comment.author.avatar.double} 2x` alt="Аватар пользователя")
                      p.comment-card__author= `${comment.author.firstname} ${comment.author.lastname}`
                    .comment-card__content
                      p= comment.text
                    form(action=`/my/comments/delete/${comment.id}` method="post")
                      button.comment-card__delete(submit="button") Удалить
