extends blocks/layout

block content
  include blocks/header
  main.page-content
    section.search-results
      h1.visually-hidden Результаты поиска
      .search-results__wrapper
        if result.length > 0
          p.search-results__label
            | Найдено публикаций:
            |
            span.js-results= result.length
          ul.search-results__list
             each item in result
               li.search-results__item
                 .ticket-card.ticket-card--color05
                   .ticket-card__img
                     img(src=`/img/${item.picture.normal}` srcset=`/img/${item.picture.double} 2x` alt="Изображение товара")
                   .ticket-card__info
                     span.ticket-card__label= item.type.name
                     .ticket-card__categories
                       each category in item.categories
                         a(href=`/offers/category/${category.id}`)= category.name
                     .ticket-card__header
                       h3.ticket-card__title
                         a(href=`/offers/${item.id}`)= item.title
                       p.ticket-card__price
                         span.js-sum= item.sum
                         | ₽
                     .ticket-card__desc
                       p= item.description
        else
          .search-results__message
            p
              | Не найдено
              br
              | ни одной публикации
    section.tickets-list
      h2.visually-hidden Самые новые предложения
      .tickets-list__wrapper
        .tickets-list__header
          p.tickets-list__title Самое свежее
          a.tickets-list__link(href="#") Еще 25
        ul
          each item in freshItems
            li.tickets-list__item
              .ticket-card.ticket-card--color01
                .ticket-card__img
                  img(src=`/img/${item.picture.normal}` srcset=`/img/${item.picture.double} 2x` alt="Изображение товара")
                .ticket-card__info
                  span.ticket-card__label= item.type.name
                  .ticket-card__categories
                    each category in item.categories
                      a(href=`/offers/category/${category.id}`)= category.name
                  .ticket-card__header
                    h3.ticket-card__title
                      a(href=`/offers/${item.id}`)= item.title
                    p.ticket-card__price
                      span.js-sum= item.sum
                      | ₽
                  .ticket-card__desc
                    p= item.description
