extends blocks/layout.pug

block content
  main.page-content
    section.sign-up
      form.sign-up__form.form(
        action="/register"
        method="POST"
        autocomplete="off"
        enctype="multipart/form-data"
      )
        .sign-up__title
          h2 Регистрация
          a.sign-up__link(href="/login") Вход
        .sign-up__avatar-container.js-preview-container
          .sign-up__avatar.js-preview
          .sign-up__field-avatar
            input#avatar.visually-hidden.js-file-field(
              type="file"
              name="avatar"
            )
            label(for="avatar")
              span.sign-up__text-upload Загрузить аватар…
              span.sign-up__text-another Загрузить другой аватар…
        .form__field.sign-up__field
          input#user-name.js-field(
            type="text"
            name="user-name"
            value=`${data ? data[`user-name`] : ""}`
          )
          label(for="user-name") Имя и фамилия
          span Обязательное поле
          - const userNameError = errors ? errors.find((error) => error.label === "user-name") : null
          div(style={color: `red`})= userNameError ? userNameError.message : ""
        .form__field.sign-up__field
          input#user-email.js-field(
            type="email"
            name="user-email"
            value=`${data ? data[`user-email`] : ""}`
          )
          label(for="user-email") Эл. почта
          span Обязательное поле
          - const emailError = errors ? errors.find((error) => error.label === "user-email") : null
          div(style={color: `red`})= emailError ? emailError.message : ""
        .form__field.sign-up__field
          input#user-password.js-field(
            type="password"
            name="user-password"
            value=`${data ? data[`user-password`] : ""}`
          )
          label(for="user-password") Пароль
          span Обязательное поле
          - const passwordError = errors ? errors.find((error) => error.label === "user-password") : null
          div(style={color: `red`})= passwordError ? passwordError.message : ""
        .form__field.sign-up__field
          input#user-password-again.js-field(
            type="password"
            name="user-password-again"
            value=`${data ? data[`user-password-again`] : ""}`
          )
          label(for="user-password-again") Пароль еще раз
          span Обязательное поле
          - const passwordAgainError = errors ? errors.find((error) => error.label === "user-password-again") : null
          div(style={color: `red`})= passwordAgainError ? passwordAgainError.message : ""
        button.sign-up__button.btn.btn--medium.js-button(type="submit" disabled="") Создать аккаунт
