extends blocks/layout

block content
  include blocks/header
  main.page-content
    section.ticket
      .ticket__wrapper
        h1.visually-hidden Карточка объявления
        .ticket__content
          .ticket__img
            img(src=`/img/${offer.picture.normal}` srcset=`/img/${offer.picture.double} 2x` alt="Изображение товара")
          .ticket__info
            h2.ticket__title= offer.title
            .ticket__header
              p.ticket__price
                span.js-sum= offer.sum
                |  ₽
              p.ticket__action= offer.type.name
            .ticket__desc
              p= offer.description
            .ticket__data
              p
                b Дата добавления:
                span= getHumanDate(offer.created_date)
              p
                b Автор:
                a(href="#")= `${offer.author.firstname} ${offer.author.lastname}`
              p
                b Контакты:
                a(href=`mailto:${offer.author.email}`)= offer.author.email
            ul.ticket__tags
              each category in offer.categories
                li
                  a.category-tile.category-tile--small(href=`/offers/category/${category.id}`)
                    span.category-tile__image
                      img(src=`/img/${category.picture.normal}` srcset=`/img/${category.picture.double} 2x` alt="Иконка категории")
                    span.category-tile__label= category.name
        .ticket__comments
          h2.ticket__subtitle Коментарии
          .ticket__comment-form
            form.form.comment-form(action=`/offers/${offer.id}/comments` method="post")
              .comment-form__header
                a.comment-form__avatar.avatar(href="/my")
                  img(src=`/img/${auth.user.avatar.normal}` srcset=`/img/${auth.user.avatar.double} 2x` alt="Аватар пользователя")
                p.comment-form__author Вам слово
              .comment-form__field
                .form__field
                  textarea#comment-field.js-field(name="text" cols="30" rows="10" maxlength="400" minlength="50") Нормальное вообще кресло! А как насч
                  label(for="comment-field") Текст комментария
                  span Обязательное поле
              button.comment-form__button.btn.btn--white.js-button(type="submit") Отправить
          .ticket__comments-list
            ul.comments-list
              each item in offer.comments
                li
                  .comment-card
                    .comment-card__header
                      a.comment-card__avatar.avatar(href="#")
                        img(src=`/img/${item.author.avatar.normal}` srcset=`/img/${item.author.avatar.double} 2x` alt="Аватар пользователя")
                      p.comment-card__author= `${item.author.firstname} ${item.author.lastname}`
                    .comment-card__content
                      p= item.text
